body {
  font-family: 'Indie Flower', cursive;
}

.navbar-brand {
  font-family: 'Amatic SC', cursive;
  font-size: 3.5rem;
  padding-top: 0;
  padding-bottom: 0;
}

#username {
  font-size: 2rem;
}

main {
  width: 100%;
  background-size: cover;
  background-position: center;
}

#bkg-credit {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.translucent {
  background-color: rgba(255, 255, 255, 0.75)
}
